// .grid-wrapper {
//   // border: 3px solid rgb(237, 204, 18);
//   // display: grid;
//   // grid-template:
//   //   'grid-header'
//   //   'grid-body'
//   //   'grid-footer';
//   // grid-template-columns: 1fr;
//
//   @media screen and (max-width: 1020px) {
//   }
// }
//
// .grid-header {
//   grid-area: grid-header;
// }
//
// .grid-body {
//   grid-area: grid-body;
// }
//
// .grid-footer {
//   grid-area: grid-footer;
// }
//
// .navbar {
//   // align-items: stretch;
//   // align-items: initial;
//   // display: grid !important;
//   // grid-template-columns: 1fr 1fr;
// }

// .container {
//   margin-left: auto !important;
//   margin-right: auto !important;
//   // padding-left: 15px !important;
//   // padding-right: 15px !important;
//   max-width: initial !important;
// }

// @media (min-width: 992px) {
//   .container {
//     width: 890px !important;
//   }
// }

.row {
  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  // grid-gap: 20px;
  // width: 100%;
}

// .col-md-1 {
//   grid-column: span 1;
// }

// .col-md-2 {
//   grid-column: span 2;
// }

// .col-md-3 {
//   grid-column: span 3;
// }

// .col-md-4 {
//   grid-column: span 4;
// }

// .col-md-5 {
//   grid-column: span 5;
// }

// .col-md-6 {
//   grid-column: span 6;
// }

// .col-md-7 {
//   grid-column: span 7;
// }

// .col-md-8 {
//   grid-column: span 8;
// }

// .col-md-9 {
//   grid-column: span 9;
// }

// .col-md-10 {
//   grid-column: span 10;
// }

// .col-md-11 {
//   grid-column: span 11;
// }

// .col-md-12 {
//   grid-column: span 12;
// }

// @media (min-width: 992px) {
//   .col-md-6 {
//     grid-column: span 6;
//   }
// }









$grid_gutter: 20px;

$screen_viewport_xs: 0px;
$screen_viewport_sm: $mobile;
$screen_viewport_md: $tablet;
$screen_viewport_lg: $desktop;
$screen_viewport_xl: $widescreen;

// Grid array (used for generating the grid)
$grid_arr: (
  (xs, $screen_viewport_xs), 
  (sm, $screen_viewport_sm), 
  (md, $screen_viewport_md), 
  (lg, $screen_viewport_lg), 
  (xl, $screen_viewport_xl)
);

.row {
  display: grid;
  // min-height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $grid_gutter;
  width: 100%;
}

@each $label, $breakpoint in $grid_arr {
  @media (min-width: calc(#{$breakpoint} + calc(#{$grid_gutter} * 2))) {
    @for $i from 1 through 12 {
      @for $y from 1 through 12 {
        // Differs from bootstrap from the point that it specifies the index of a column to start
        // example: col-start-6 col-4 (start at col 6 columns and occupy 4 columns
        .col-start-#{$label}-#{$y}.col-#{$label}-#{$i} {
          grid-column: #{$y} / span #{$i};
        }
      }

      // as in bootstrap
      .col-#{$label}-#{$i} {
        grid-column-start: span #{$i};
        width: 100%;
      }
    }

    .container {
      width: calc(#{$breakpoint} - #{$grid_gutter});
    }

    // hack while Bulma columns/grid system still in place:
    .navbar > .container {
      width: calc(#{$breakpoint} - #{$grid_gutter});

      @media (min-width: 0px) and (max-width: $screen_viewport_sm) {
        width: 90%;
      }
    }
  }
}

.container {
  margin: 0 auto;

  @media (min-width: 0px) and (max-width: $screen_viewport_sm + (2 * $gap)) {
    width: 90%;
  }
}

.row {
  // background: black;
  // color: red;
  // margin-bottom: 10px;
}

div[class*='col-'] {
  // min-height: 50px;
  // background:red;
  // color: black;
}
